[submodule "HelloWorld"]
	path = HelloWorld
	url = https://github.com/malgorzataMielczarek/HelloWorld.git
[submodule "Tydzien1/Lekcja7/HelloWorld"]
	path = Tydzien1/Lekcja7/HelloWorld
	url = https://github.com/malgorzataMielczarek/HelloWorld.git
[submodule "Tydzien1/Lekcja8/HelloWorld"]
	path = Tydzien1/Lekcja8/HelloWorld
	url = https://github.com/malgorzataMielczarek/HelloWorld
[submodule "Tydzien2/Lekcja7/ZadaniaWarunki"]
	path = Tydzien2/Lekcja7/ZadaniaWarunki
	url = https://github.com/malgorzataMielczarek/ZadaniaWarunki.git
[submodule "Tydzien2/Lekcja8/ZadaniaPetle"]
	path = Tydzien2/Lekcja8/ZadaniaPetle
	url = https://github.com/malgorzataMielczarek/ZadaniaPetle.git
